@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";

.nav2{
  background-color: #f0e5d8;
}
.nav-item{
    font-family: 'Montserrat Alternates', sans-serif;
}


.text{
    padding-left: 70px;
}

.jumbotron{
    background-color: paleturquoise;
}

.dompetsapi{
    margin-top: 40px;
    width: 500px
}

.sandal{
    margin-top: -100px;
    width: 1000px;
    height: 500px;
}

.sabuk{
    margin-top: -100px;
    width: 1000px;
    height: 500px;
}

.tas{
    width: 250px;
    height: 400px;
}

.Judul{
  font-weight: 500;
}



.grupsandal{
  margin-top: 7rem;
}
.card{
  border: none;
  outline: none;
  background-color: #ffc478;
  border-radius: 20px;
  transition: transform .3s;
}

.card:hover{
  transform: translateY(-15px);
  transition: transform .3s;
}

.text1{
  font-size: 13px;
  color: whitesmoke;
}


/* Card 1 */
.cost span{
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.keranjang{
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f0e5d8;
}

/* Jumb1 */
.jumb1{
  background-image: url('images/leather.jpg');
}


